{form name='settings'}
<table class="ow_table_1 ow_form ow_automargin">
    <tr class="ow_alt1">
        <td class="ow_value">{label name='filter'}</td>
        <td class="ow_value">
            {input name='filter'}
            <br>{desc name='filter'}
        </td>
    </tr>

    <tr class="ow_alt2">
        <td class="ow_value">{label name='debug'}</td>
        <td class="ow_value">
            {input name='debug'}
            <br>{desc name='debug'}
        </td>
    </tr>

    <tr>
        <td colspan="2" class="ow_center">{submit name='save' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}